<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 수정폼</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="layout">
    <form th:action="@{/board/update/{id}(id=${board.id})}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_method" value="put"/>
        <input name="title" type="text" th:value="${board.title}">
        <textarea name="content" th:text="${board.content}"></textarea>
        <input type="file" name="file">
        <button type="submit">작성</button>
    </form>
</div>
</body>
</html>