<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>게시물 리스트 페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/liststyle.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/liststyle.css}">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="layout">

        <div class="create-button">
            <th:block sec:authorize="isAuthenticated()">
                <a class="btn create" th:href="@{/board/writeform}">글 작성</a>
            </th:block>
        </div>
        <table>
            <thead>
                <tr class="table-header">
                    <th>글 번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-body" th:each="board : ${list}">
                    <td th:text="${board.id}">1</td>
                    <td>
                        <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}">제목입니다.</a>
                    </td>
                    <td>
<!--                        테스트 데이터 때문에 아래처럼 해야함 실제로 무조건 작성자만 글을 작성할 수 있도록 수정해야함-->
<!--                        테스트 데이터 지운 후엔 이 코드로-->
<!--                        <a th:text="${board.author != null ? board.author.userid : '운영자'}"-->
<!--                        th:href="@{/user/{userid}/list(userid=${board.author.userid})}">작성자</a>-->
                        <!-- 작성자가 있는 경우 링크 -->
                        <a th:if="${board.author != null}"
                           th:text="${board.author.userid}"
                           th:href="@{/user/{userid}/list(userid=${board.author.userid})}">
                        </a>

                        <!-- 작성자가 없는 경우 텍스트 -->
                        <span th:if="${board.author == null}">운영자</span>
                    </td>
                </tr>
            </tbody>
        </table>

<!--        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">-->
<!--            <a th:if="${page != nowPage}" th:href="@{/board/list(page=${page - 1})}" th:text="${page}">1</a>-->
<!--            <strong th:if="${page == nowPage}" th:text="${page}" style="color: red">1</strong>-->
<!--        </th:block>-->
        <div th:if="${noPages}" class="no-posts-message">
            게시물이 없습니다.
        </div>
        <div th:unless="${noPages}">
            <div class="pagination">
                <!-- 처음으로 이동 -->
                <a class="page-link" th:if="${nowPage > 1}" th:href="@{/board/list(page=0, searchKeyword=${param.searchKeyword})}">처음</a>

                <!-- 페이지 번호 반복 -->
                <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                    <a class="page-link"
                       th:if="${page != nowPage}"
                       th:href="@{/board/list(page=${page - 1}, searchKeyword=${param.searchKeyword})}"
                       th:text="${page}">1</a>
                    <strong class="current-page"
                            th:if="${page == nowPage}"
                            th:text="${page}">1</strong>
                </th:block>

                <!-- 마지막으로 이동 -->
                <a class="page-link" th:if="${nowPage < totalPages}" th:href="@{/board/list(page=${totalPages - 1}, searchKeyword=${param.searchKeyword})}">마지막</a>
            </div>
        </div>
        <form th:action="@{/board/list}" method="get" class="search-form">
            <input type="text" name="searchKeyword" class="search-input" placeholder="검색어를 입력하세요"/>
            <button type="submit" class="search-button">검색</button>
        </form>

    </div>

</body>
</html>