.navbar {
    width: 100%;
    background-color: #2c3e50;
    padding: 15px 20px;
    margin-bottom: 30px; /* 아래 요소와 간격 */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* 내부 컨테이너 정렬 유지 */
.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navbar-content .nav-left a {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.navbar-content .nav-left a:hover {
    background-color: #34495e;
    border-radius: 5px;
}

.navbar-content .nav-right {
    display: flex;
    gap: 10px;
    align-items: center;
    /*padding-right: 30px;*/
}

.navbar-content .nav-right a {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.navbar-content .nav-right a:hover {
    background-color: #45a049;
}


