<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>홈 - 게시판 메인</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainstyle.css}">
</head>
<body>
<div class="main-container">
    <h1 class="main-title">Spring Board</h1>
    <p class="main-subtitle">아래 버튼을 눌러 게시판으로 이동하세요.</p>
    <div class="button-group">
        <a class="button primary" th:href="@{/board/list}">게시판 바로가기</a>
        <a class="button secondary" th:href="@{/user/login}">로그인</a>
        <a class="button secondary" th:href="@{/user/signup}">회원가입</a>
    </div>
</div>
</body>
</html>
